{% extends 'base.html.twig' %}

{% block title %}Envoyé un mail{% endblock %}

{% block body %}
    <h1>Envoyé un mail</h1>

    {{ form_start(form) }}
    {{ form_row(form.objet) }}
    {{ form_row(form.message) }}
    {{ form_row(form.destinataire) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}