{% extends 'base.html.twig' %}

{% block title %}Hello MailContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('app_send_mail_contact') }}"> Envoyer un mail aux contacts</a>
</div>
    {% for mail in mails %}
    <ol class="list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {{ mail.dateEnvoie| date('d/m/Y') }}| {% for desti in mail.destinataire %}
                        {{ desti.email }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>

                {{ mail.message }}
            </div>
            <div class="ms-2 me-auto">
                {{ mail.objet }}
            </div>
            <span class="badge bg-primary rounded-pill">
                <a href="{{ path('app_mail_contact_delete', {'id':mail.id}) }}"> Supprimer</a>
            </span>
        </li>

    </ol>
    {% endfor %}
{% endblock %}
